*{
	padding: 0; margin: 0; font-size: 15px; font-family: sans-serif; list-style: none; text-decoration: none; max-width: 100% !important;
}

#head{
	height: 53px;
	background-color: #51A9C1;
}

#head p{
	float: left;
	padding: 10px;
	font-size: 2em;
	color: white;
}

#cari{
	margin: 1%;
	float: left;
}

#akun{
	float: right;
	margin: 1%;
}

#akun ul li{
	float: left;
	padding-right: 10px;
}

#akun ul li a{
	color: white;
}

#daftar{
	background-color: #7AABF1;
	border:4px solid #7AABF1;
	border-radius: 5px;
}

#login{
	background-color:#CE5050; 
	border : 4px solid #CE5050;
	border-radius: 5px;
	color: white;
}

nav{
	height: 45px;
	background-color:#2C75DC;
}

nav ul li{
	float: left;
	margin: 1%;
	width: 10%;
	color: white;
}

nav li{
	background-color: #2C75DC;
}

nav ul li a{
	color: white;
}


#konten{
	clear: both;
	width: 75%;
	min-height: 100%;
	background-color: white;
	float: right;
}

.kol-4{
	border: 1px solid gray;
	border-radius: 5px;
	height: 400px;
	width: 29%;
	margin:1%;
	float: left;
}

#side{
	width: 20%;
	min-height: 100%;
	background-color:#51A9C1;
	float: left;
	color: white;
}

#foot{
	clear: both;
	background-color: #2C75DC;
	height: 10px;
	text-align: center;
	color: white;
	padding: 30px;
	font-size: 1em;
}

.text{
	width: 40%;
	border:0px;
	border-radius: 5px;
	height: 25px;
}



